<div class="app-container">
  <header class="app-header">
    <div class="header-content">
      <img src="/assets/kelloggs-logo.svg" alt="Kellogg's Logo" class="logo">
      <app-language-switcher></app-language-switcher>
      <button class="menu-button">
        <div class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        Menu
      </button>
    </div>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <app-nav-menu></app-nav-menu>
</div>
