@use "../../../../../public/assets/styles/variables" as v;
@use "../../../../../public/assets/styles/functions" as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  max-width: get-rem(480);
  margin: 0 auto;
  background-color: v.$color-white;
  box-shadow: 0 0 get-rem(15) v.$shadow-light;
}

.app-header {
  position: sticky;
  top: 0;
  background-color: v.$color-white;
  z-index: 200;
  box-shadow: 0 get-rem(2) get-rem(4) v.$shadow-light;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: get-rem(12) get-rem(16);

  app-language-switcher {
    margin-right: auto;
    margin-left: get-rem(15);
  }

  .logo {
    height: get-rem(30);
  }
}

.logo {
  height: get-rem(35);
  width: auto;
}

.menu-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: v.$color-gray-darkest;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: get-rem(20);
  height: get-rem(15);
  margin-right: get-rem(8);
}

.menu-icon span {
  display: block;
  height: get-rem(2);
  width: 100%;
  background-color: v.$color-gray-darkest;
}

.main-content {
  flex: 1;
}
