<div class="animation-container">
  <div class="logo-container">
    <div class="animation-wrapper">
      <div class="kelloggs-text" [@kelloggsAnimation]="animationState">{{ 'ANIMATIONS.DOUBLE_PLAY.KELLOGGS' | translate }}</div>
      <div class="diamond" [@diamondAnimation]="animationState"><img src="/assets/diamond.png" alt="{{ 'ANIMATIONS.DOUBLE_PLAY.DIAMOND_ALT' | translate }}"></div>
      <div class="double-text" [@doubleTextAnimation]="animationState">{{ 'ANIMATIONS.DOUBLE_PLAY.DOUBLE' | translate }}</div>
      <div class="play-text" [@playTextAnimation]="animationState">{{ 'ANIMATIONS.DOUBLE_PLAY.PLAY' | translate }}</div>
    </div>
  </div>

  <!-- Money fountain with wider left arc -->
  <app-money-fly-animation class="money-fountain"></app-money-fly-animation>
</div> 