@use "../../../../../public/assets/variables" as v;

.prizes-container {
  //padding: 30px 16px;
  text-align: center;
}

.prizes-title {
  text-align: start;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 0p;

}

.prizes-subtitle {
  margin-bottom: 30px;
  color: v.$color-gray-dark;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: start;

}

.prizes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.prize-card {
  background-color: v.$color-yellow;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.prize-icon {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.prize-label {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;

}
