<div class="prizes-container" #prizesSection>
  <div class="prizes-title">Prizes</div>
  <div class="prizes-subtitle">Play for your chance to win prizes when you</div>
  <div class="prizes-subtitle-second">peel off the box and when you peel in app!</div>

  <div class="prizes-grid">
    @for (prize of prizeItems; track prize.title) {
      <div class="prize-card" [@fadeIn]="prize.state">
        <div appAnimateOnClick="jello-horizontal" class="prize-icon">
          <img [src]="prize.icon" [alt]="prize.title">
        </div>
        <div [innerHTML]="prize.title" class="prize-label"></div>
      </div>
    }
  </div>
</div>
