<div class="home-container">
  <div class="animation-container">
    <app-double-play-animation (animationComplete)="onDoublePlayAnimationComplete()"/>
    <div class="animation-money-first-container" *ngIf="showMoneyFlyAnimation">
      <app-money-fly-animation/>
    </div>
  </div>
  <div class="welcome-section">
    <div class="mascot-section">
      <img src="/assets/tiger.svg" alt="Tony the Tiger" class="tiger-mascot">
    </div>
    <div class="welcome-message">
      <h1>Welcome to <span class="highlight">Double Play</span>!</h1>
      <p>Scan the code from your Kellogg's cereal box to play and win prizes!</p>
    </div>
  </div>

  <div class="action-section">
    <div class="action-card">
      <h2>Scan your code</h2>
      <p>Find the unique code on your Kellogg's cereal box</p>
      <button class="btn btn-primary" routerLink="/add-code">Add Code</button>
    </div>

    <div class="action-card">
      <h2>Check prizes</h2>
      <p>See what you've won and claim your prizes</p>
      <button class="btn btn-primary" routerLink="/prize">View Prizes</button>
    </div>
  </div>

  <div class="diamond-bg diamond-main"></div>
  <div class="diamond-bg diamond-small-1"></div>
  <div class="diamond-bg diamond-small-2"></div>
  <div  class="mascot-section bounce-in-bottom">
    <img src="/assets/tiger.svg" alt="Tony the Tiger" class="tiger-mascot">
  </div>
</div>
