@use "../../../../public/assets/styles/variables" as v;

.home-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  position: relative;
  overflow: hidden;
}

.top-section {
  min-height: 466px;
}

.animation-money-first-container {
  position: absolute;
  right: 50%;
  top: -3%
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;

  .prize-info {
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: center;

  }

}

.prize-mascot {
  position: absolute;
  top: 92px;
  z-index: 1;

}

.welcome-message {
  margin-bottom: 30px;
}

.welcome-message h1 {
  margin-bottom: 10px;
  color: v.$color-gray-darkest;
  font-weight: 800;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.25px;
  text-align: center;

}


.claim-btn {
  box-shadow: inset 0px 12px 7.2px v.$shadow-white-light, inset 0px -6px 7.2px v.$shadow-black-light;
  border-radius: 25px;
  background-color: v.$color-red;
  color: v.$color-white;
  border: 3px solid v.$color-gold;
  font-weight: 900;
  width: 230px;
  font-size: 20px;
  padding: 12px 36px;

  transition: all 0.3s ease;
  line-height: 24px;
  font-style: normal;
}

.claim-btn:hover, .claim-btn:focus {
  background-color: v.$color-red-light;
  transform: translateY(-2px);
  box-shadow: inset 0px 12px 7.2px v.$shadow-white-light, inset 0px -6px 7.2px v.$shadow-black-light;
}

.rombs-container {
  top: 280px;
  position: absolute;

  .rombs {
    width: 100%;
  }
}

.how-to-play {
  margin: 10px 0 0 0;
  padding: 20px;

}


.prizes-section {
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}


