@use "../../../../public/assets/styles/variables" as v;
@use "../../../../public/assets/styles/functions" as *;

.home-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - get-rem(120));
  position: relative;
  overflow: hidden;
}

.top-section {
  min-height: get-rem(466);
}

.animation-money-first-container {
  position: absolute;
  right: 50%;
  top: -3%
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: get-rem(30);
  position: relative;
  z-index: 100;

  .prize-info {
    margin-bottom: get-rem(50);
    font-weight: 800;
    font-size: get-rem(28);
    line-height: get-rem(28);
    letter-spacing: get-rem(-0.25);
    text-align: center;

  }

}

.prize-mascot {
  position: absolute;
  top: get-rem(92);
  z-index: 1;

}

.welcome-message {
  margin-bottom: get-rem(30);
}

.welcome-message h1 {
  margin-bottom: get-rem(10);
  color: v.$color-gray-darkest;
  font-weight: 800;
  font-size: get-rem(28);
  line-height: get-rem(28);
  letter-spacing: get-rem(-0.25);
  text-align: center;

}


.claim-btn {
  box-shadow: inset 0px get-rem(12) get-rem(7.2) v.$shadow-white-light, inset 0px get-rem(-6) get-rem(7.2) v.$shadow-black-light;
  border-radius: get-rem(25);
  background-color: v.$color-red;
  color: v.$color-white;
  border: get-rem(3) solid v.$color-gold;
  font-weight: 900;
  width: get-rem(230);
  font-size: get-rem(20);
  padding: get-rem(12) get-rem(36);

  transition: all 0.3s ease;
  line-height: get-rem(24);
  font-style: normal;
}

.claim-btn:hover, .claim-btn:focus {
  background-color: v.$color-red-light;
  transform: translateY(get-rem(-2));
  box-shadow: inset 0 get-rem(12) get-rem(7.2) v.$shadow-white-light, inset 0 get-rem(-6) get-rem(7.2) v.$shadow-black-light;
}

.rombs-container {
  top: get-rem(280);
  position: absolute;

  .rombs {
    width: 100%;
  }
}

.how-to-play {
  margin: get-rem(10) 0 0 0;
  padding: get-rem(20) get-rem(20) get-rem(52) get-rem(20);

}


.prizes-section {
  margin-bottom: get-rem(40);
  position: relative;
  overflow: hidden;
}


