<div class="home-container">
  <div class="top-section">
    <div class="animation-container">
      <app-double-play-animation (animationComplete)="onDoublePlayAnimationComplete()"/>
      @if (showMoneyFlyAnimation) {
        <div class="animation-money-first-container">
          <app-money-fly-animation [startAnimation]="true" (animationComplete)="onMoneyFlyAnimationComplete()"/>
        </div>
      }
    </div>

    @if (showMascot) {
      <div class="prize-mascot slide-in-left" [@slideIn]="mascotState">
        <img src="/assets/coco.svg" alt="{{ 'HOME.ALT_TEXT.MASCOT' | translate }}" class="mascot-image">
      </div>
    }

    <div class="welcome-section ">
      @if (showPrizeInfo) {
        <div id="prize-info-element" class="prize-info jello-horizontal" [@scaleUp]="prizeInfoState" (click)="restartJelloAnimation('prize-info-element')">
          <h2>{{ 'HOME.WON_PRIZE_LINE1' | translate:{name: user.name} }}</h2>
          <h2>{{ 'HOME.WON_PRIZE_LINE2' | translate }}</h2>
          <h2>{{ 'HOME.WON_PRIZE_LINE3' | translate }}</h2>
        </div>

        <div id="claim-button-container" class="claim-button-container jello-horizontal" [@scaleUp]="prizeInfoState">
          <button class="btn btn-primary claim-btn" (click)="restartJelloAnimation('claim-button-container')">{{ 'HOME.CLAIM_PRIZE' | translate }}</button>
        </div>
      }
    </div>
    <div class="rombs-container">
      <img src="assets/rombs-bg.png" alt="{{ 'HOME.ALT_TEXT.ROMBS' | translate }}" class="rombs">
    </div>
  </div>
  <div class="how-to-play">
    <app-how-to-play-accordion/>
  </div>
  <div class="prizes-section">
    <app-prizes/>
  </div>
  <div class="cash-prizes">
    <app-cash-prize/>
  </div>
</div>
