<div class="animation-container">
  <div class="money-wrapper" style="--money-to-x: -80px; --money-delay: 0.1s; --money-duration: 1.5s;">
    <img class="money money--animated" style="--money-to-y: -250px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -40px; --money-delay: 0.2s; --money-duration: 1.6s;">
    <img class="money money--animated" style="--money-to-y: -280px;" src="/assets/money/img_1.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: 0px; --money-delay: 0.3s; --money-duration: 1.7s;">
    <img class="money money--animated" style="--money-to-y: -300px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: 40px; --money-delay: 0.4s; --money-duration: 1.6s;">
    <img class="money money--animated" style="--money-to-y: -280px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: 80px; --money-delay: 0.5s; --money-duration: 1.5s;">
    <img class="money money--animated" style="--money-to-y: -250px;" src="/assets/money/img_1.png" alt="money"/>
  </div>

  <!-- Second wave of money -->
  <div class="money-wrapper" style="--money-to-x: -60px; --money-delay: 0.6s; --money-duration: 1.8s;">
    <img class="money money--animated" style="--money-to-y: -270px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -20px; --money-delay: 0.7s; --money-duration: 1.9s;">
    <img class="money money--animated" style="--money-to-y: -290px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: 20px; --money-delay: 0.8s; --money-duration: 1.9s;">
    <img class="money money--animated" style="--money-to-y: -290px;" src="/assets/money/img_1.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: 60px; --money-delay: 0.9s; --money-duration: 1.8s;">
    <img class="money money--animated" style="--money-to-y: -270px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
</div>
