<div class="animation-container">

  <!--  <div class="money-wrapper" style="&#45;&#45;money-to-x: -160px; &#45;&#45;money-delay: 0.2s; &#45;&#45;money-duration: 1.8s; &#45;&#45;arc-height: 220px;">-->
<!--    <img class="money money&#45;&#45;animated" style="&#45;&#45;money-to-y: -200px;" src="/assets/money/img_1.png" alt="money"/>-->
<!--  </div>

  Third bill - middle of ribbon curve -->
  <div class="money-wrapper" style="--money-to-x: -120px; --money-delay: 0.3s; --money-duration: 1.8s; --arc-height: 250px;">
    <img class="money money--animated" style="--money-to-y: -230px;" src="/assets/money/img_2.png" alt="money"/>
  </div>

  <!-- Fourth bill - continuing curve -->
  <div class="money-wrapper" style="--money-to-x: -80px; --money-delay: 0.4s; --money-duration: 1.8s; --arc-height: 270px;">
    <img class="money money--animated" style="--money-to-y: -210px;" src="/assets/money/img_0.png" alt="money"/>
  </div>

  <!-- Fifth bill - end of first ribbon section -->
  <div class="money-wrapper" style="--money-to-x: -40px; --money-delay: 0.5s; --money-duration: 1.8s; --arc-height: 230px;">
    <img class="money money--animated" style="--money-to-y: -180px;" src="/assets/money/img_1.png" alt="money"/>
  </div>

  <div class="money-wrapper" style="--money-to-x: 0px; --money-delay: 0.6s; --money-duration: 1.8s; --arc-height: 200px;">
    <img class="money money--animated" style="--money-to-y: -150px;" src="/assets/money/img_2.png" alt="money"/>
  </div>

  <div class="money-wrapper" style="--money-to-x: 40px; --money-delay: 0.7s; --money-duration: 1.8s; --arc-height: 210px;">
    <img class="money money--animated" style="--money-to-y: -170px;" src="/assets/money/img_0.png" alt="money"/>
  </div>

  <div class="money-wrapper" style="--money-to-x: 80px; --money-delay: 0.8s; --money-duration: 1.8s; --arc-height: 240px;">
    <img class="money money--animated" style="--money-to-y: -200px;" src="/assets/money/img_1.png" alt="money"/>
  </div>

  <div class="money-wrapper" style="--money-to-x: 120px; --money-delay: 0.9s; --money-duration: 1.8s; --arc-height: 260px;">
    <img class="money money--animated" style="--money-to-y: -220px;" src="/assets/money/img_2.png" alt="money"/>
  </div>

  <div class="money-wrapper" style="--money-to-x: 160px; --money-delay: 1.0s; --money-duration: 1.8s; --arc-height: 230px;">
    <img class="money money--animated" style="--money-to-y: -190px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
</div>
