<div class="animation-container">
  <!-- First wave - wider arc more to the left -->
  <div class="money-wrapper" style="--money-to-x: -180px; --money-delay: 0.1s; --money-duration: 1.7s;">
    <img class="money money--animated" style="--money-to-y: -250px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -150px; --money-delay: 0.2s; --money-duration: 1.8s;">
    <img class="money money--animated" style="--money-to-y: -280px;" src="/assets/money/img_1.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -140px; --money-delay: 0.3s; --money-duration: 1.9s;">
    <img class="money money--animated" style="--money-to-y: -300px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -160px; --money-delay: 0.4s; --money-duration: 1.8s;">
    <img class="money money--animated" style="--money-to-y: -280px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -130px; --money-delay: 0.5s; --money-duration: 1.7s;">
    <img class="money money--animated" style="--money-to-y: -250px;" src="/assets/money/img_1.png" alt="money"/>
  </div>
  
  <!-- Second wave of money - wider arc more to the left -->
  <div class="money-wrapper" style="--money-to-x: -200px; --money-delay: 0.6s; --money-duration: 2.0s;">
    <img class="money money--animated" style="--money-to-y: -270px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -170px; --money-delay: 0.7s; --money-duration: 2.1s;">
    <img class="money money--animated" style="--money-to-y: -290px;" src="/assets/money/img_0.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -190px; --money-delay: 0.8s; --money-duration: 2.1s;">
    <img class="money money--animated" style="--money-to-y: -290px;" src="/assets/money/img_1.png" alt="money"/>
  </div>
  <div class="money-wrapper" style="--money-to-x: -220px; --money-delay: 0.9s; --money-duration: 2.0s;">
    <img class="money money--animated" style="--money-to-y: -270px;" src="/assets/money/img_2.png" alt="money"/>
  </div>
</div>
